# common
.idea/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db

# build/deps/package
dist
/lib/
node_modules
/types/
*.vsix

# local VS Code
.vscode/
.vscode-test/

# debug/temp output
.test-out/
compile_errors.txt
diff_output.txt
git_log_output.txt
git_status_output.txt

# types
sync_tools.jsonc
sync_config.jsonc
